@import "tailwindcss";
* {
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  background: black;
  color: #f3f4f6;
}

:root {
  --primary-color: #0078bc;
  --secondary-color: #fff;
}
.container{
    width: 100%;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
