@import "tailwindcss";
* {
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  color: #f3f4f6;
}

:root {
  --primary-color: #0078bc;
  --secondary-color: #fff;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}